# API Configuration
VITE_API_BASE_URL=https://booklify-h3e6cvgrdjd4gjaw.southeastasia-01.azurewebsites.net/api
VITE_API_TIMEOUT=10000

# Environment
VITE_NODE_ENV=development 

VITE_EPUB_BASE_PATH=/Epub/ 